.user-space-container {
    text-align: center;
    margin-top: 100px; /* Ajustez la valeur en pixels selon vos besoins */
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

