
<div class="container">
  <h2>Lesson Search</h2>


  <div class="basic-search">
    <h4>Basic Search</h4>
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" class="form-control rounded">
    </div>


    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" class="form-control rounded">
    </div>



    <div class="form-group">
      <label for="category">Category:</label>
      <input type="text" id="category" name="category" class="form-control rounded">
    </div>

    <div class="form-group">
      <label for="level">Level:</label>
      <input type="text" id="level" name="level" class="form-control rounded">
    </div>

    <div class="form-group">
      <label for="tags">Tags:</label>
      <input type="text" id="tags" name="tags" class="form-control rounded">
    </div>

    <div class="form-group">
      <label for="author">Author:</label>
      <input type="text" id="author" name="author" class="form-control rounded">
    </div>

    <div class="form-group">
      <label for="lastModifiedDate">Last Modified Date:</label>
      <input type="text" id="lastModifiedDate" name="lastModifiedDate" class="form-control rounded">
    </div>
  </div>







  <div class="advanced-search">
    <h4>Advanced Search</h4>

    <div class="form-group">
      <label for="numericFieldMin">Numeric Field (Min):</label>
      <input type="number" id="numericFieldMin" name="numericFieldMin" class="form-control rounded">
    </div>

    <div class="form-group">
      <label for="numericFieldMax">Numeric Field (Max):</label>
      <input type="number" id="numericFieldMax" name="numericFieldMax" class="form-control rounded">
    </div>


    <div class="form-group">
      <label for="dateFieldStart">Date Field (Start):</label>
      <input type="text" id="dateFieldStart" name="dateFieldStart" class="form-control rounded">
    </div>

    <div class="form-group">
      <label for="dateFieldEnd">Date Field (End):</label>
      <input type="text" id="dateFieldEnd" name="dateFieldEnd" class="form-control rounded">
    </div>







    <div class="form-group">
      <label for="stringFieldOperator">String Field Operator:</label>
      <select id="stringFieldOperator" name="stringFieldOperator" class="form-control rounded">
        <option value="contains">Contains</option>
        <option value="like">Like</option>
        <option value="case-insensitive-like">Case-insensitive Like</option>
        <option value="starts-with">Starts With</option>
        <option value="exact">Exact</option>
      </select>
    </div>

    <div class="form-group">
      <label for="stringField">String Field:</label>
      <input type="text" id="stringField" name="stringField" class="form-control rounded">
    </div>
  </div>


  <button class="btn-primary">Search</button>
</div>
