<!-- main-page.component.html -->

<nav class="navbar navbar-expand-lg navbar-light bg-primary">

  <a class="navbar-brand" href="#" routerLink="/user-page">

    <i class="fas fa-home"></i>
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/lesson-list">Explore Lessons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/study-now">Study Now</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink = "/progress-statistics">Progresses Statistics</a>
      </li>

      <!-- Add the dropdown for "Add..." -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="addMenuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Add...
        </a>
        <ul class="dropdown-menu" aria-labelledby="addMenuDropdown">
          <li><a class="dropdown-item" href="#" routerLink="/add-learning-package">Add Learning Package</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/add-learning-fact">Add Learning Fact</a></li>

        </ul>
      </li>
      <!-- Add the dropdown for "Update..." -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="updateMenuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Update...
        </a>
        <ul class="dropdown-menu" aria-labelledby="updateMenuDropdown">
          <li><a class="dropdown-item" href="#" routerLink="/update-learning-package">Update Learning Package</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/update-learning-fact">Update Learning Fact</a></li>
        </ul>
      </li>
      <!-- Add the dropdown for "Delete..." -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="deleteMenuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Delete...
        </a>
        <ul class="dropdown-menu" aria-labelledby="deleteMenuDropdown">
          <li><a class="dropdown-item" href="#" routerLink="/delete-learning-package">Delete Learning Package</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/delete-learning-fact">Delete Learning Fact</a></li>

        </ul>
      </li>
    </ul>
  </div>

  
</nav>

<!-- Remove the line <app-lesson-edit-form></app-lesson-edit-form> -->

<!-- Add the link element in the menu nav bar -->

<!-- Make sure you still have <router-outlet></router-outlet> in your main page -->
