.page-container {
    text-align: center;
    margin-top: 100px; /* Ajustez la valeur en pixels selon vos besoins */
}

.page-title {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #007bff;
}

.lessons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px; /* Ajustez la valeur en pixels selon vos besoins */
}

.lesson-card {
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.lesson-card:hover {
    background-color: #0056b3;
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.lesson-card h3 {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.lesson-card p {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    flex-grow: 1;
}

.lesson-card ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.lesson-card li {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    margin-bottom: 3px;
}

.lesson-card:hover {
    background-color: #0056b3;
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
